.vertNav {
  width: 250px;
  background-color: #292929;
  height: 100%;
}
.navigation-top {
  height: 100px;
  width: 100%;
  background-color: #292929;
  margin: 0px;
  padding: 0px;
}
.row {
  margin-left: 15px;
  margin-right: 15px;
}
