<h1 class="display-4">TRENDING</h1>
<div class="row trend_row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">WORLDWIDE</h5>
        <ul class="list-group list-group-flush">
          <li *ngFor="let trend of trends | async" class="list-group-item d-flex justify-content-between align-items-center" ><a href="{{trend.url}}" target="_blank">{{trend.name}}</a><span class="badge badge-primary badge-pill">{{trend.tweet_volume}}</span></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">PORTLAND OR</h5>
        <ul class="list-group list-group-flush">
          <li *ngFor="let trend of trends_portland | async" class="list-group-item d-flex justify-content-between align-items-center"><a href="{{trend.url}}" target="_blank">{{trend.name}}</a><span class="badge badge-primary badge-pill">{{trend.tweet_volume}}</span></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">NEW YORK NY</h5>
        <ul class="list-group list-group-flush">
          <li *ngFor="let trend of trends_newyork | async" class="list-group-item d-flex justify-content-between align-items-center"><a href="{{trend.url}}" target="_blank">{{trend.name}}</a><span class="badge badge-primary badge-pill">{{trend.tweet_volume}}</span></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="w-100"></div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">MOSCOW RU</h5>
        <ul class="list-group list-group-flush">
          <li *ngFor="let trend of trends_moscow | async" class="list-group-item d-flex justify-content-between align-items-center" ><a href="{{trend.url}}" target="_blank">{{trend.name}}</a><span class="badge badge-primary badge-pill">{{trend.tweet_volume}}</span></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">LONDON UK</h5>
        <ul class="list-group list-group-flush">
          <li *ngFor="let trend of trends_london | async" class="list-group-item d-flex justify-content-between align-items-center" ><a href="{{trend.url}}" target="_blank">{{trend.name}}</a><span class="badge badge-primary badge-pill">{{trend.tweet_volume}}</span></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">SYDNEY AU</h5>
        <ul class="list-group list-group-flush">
          <li *ngFor="let trend of trends_sydney | async" class="list-group-item d-flex justify-content-between align-items-center" ><a href="{{trend.url}}" target="_blank">{{trend.name}}</a><span class="badge badge-primary badge-pill">{{trend.tweet_volume}}</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<app-plotly></app-plotly>
